body {
    margin: 0;
    background-color: #FFE8C8;
}

p {
    font-family: sans-serif;
}

.text {
    align-content: center;
}

.navitem {
    color: white;   
}

.head1 {
    background-color: #FFC96F;
}

.head1 span {
    font-family: sans-serif;
}